:root {
    --lightWhiteBlue: #F1F6F9;
    --lightWhiteBlue-rgb: 241, 246, 249;
    --lightWhiteBlue-darker: #cddfea;
    --lightWhiteBlue-darker-rgb: 205, 223, 234;
    --lightWhiteBlue-darkest: #a9c8da;
    --lightWhiteBlue-darkest-rgb: 127, 139, 159;

    --backgroundBlue: #9BA4B4;
    --backgroundBlue-lighter: #b9c0ca;
    --backgroundBlue-lightest: #d6dae0;
    --backgroundBlue-darkest: #657186;

    --primaryBlue: #14274e;

    --secondaryBlue: #384766;
    --secondaryBlue-rgb: 56, 71, 102;
    --secondaryBlue-lighter: #4a5d87;
    --secondaryBlue-lightest: #5e75a6;

    --custom-white-darkest: #cccccc;
}

.btn-primary {
    --bs-btn-bg: var(--secondaryBlue);
    --bs-btn-border-color: var(--secondaryBlue);
    --bs-btn-hover-bg: var(--secondaryBlue-lighter);
    --bs-btn-hover-border-color: var(--secondaryBlue-lightest);
    --bs-btn-focus-shadow-rgb: var(--secondaryBlue-rgb);
    --bs-btn-active-bg: var(--secondaryBlue-lightest);
    --bs-btn-active-border-color: var(--secondaryBlue-lightest);
    --bs-btn-disabled-bg: var(--secondaryBlue);
    --bs-btn-disabled-border-color: var(--secondaryBlue);
}

.bg-white-l {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--lightWhiteBlue-darkest-rgb),var(--bs-bg-opacity))!important;
    color: var(--primaryBlue);
}

.bg-white-l .form-control:focus {
    color: var(--primaryBlue);
    background-color: var(--backgroundBlue-lightest);
    border-color: var(--backgroundBlue-lightest);
    box-shadow: 0 0 0 0.25rem #0242a240;
}

.bg-white-l .form-control:disabled {
    background-color: var(--backgroundBlue-darkest);
    border: var(--bs-border-width) solid var(--backgroundBlue-darkest);
    opacity: 1;
}

.bg-white-l .form-control {
    color: var(--primaryBlue);
    background-color: var(--backgroundBlue-lighter);
    border: var(--bs-border-width) solid var(--backgroundBlue-lighter);
}

.bg-white-l .input-group-text {
    color: var(--bs-body-color);
    background-color: var(--backgroundBlue-darkest);
    border: var(--bs-border-width) solid var(--backgroundBlue-darkest);
}

.bg-white-l .form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    background-color: var(--lightWhiteBlue);
    background-image: var(--bs-form-check-bg-image);
    border: var(--bs-border-width) solid var(--lightWhiteBlue);
}

.bg-white-t {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--lightWhiteBlue-rgb),var(--bs-bg-opacity))!important;
    color: var(--primaryBlue);
}

.table {
    --bs-table-color: var(--primaryBlue);
    --bs-table-bg: var(--lightWhiteBlue);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-striped-color: var(--primaryBlue);
    --bs-table-active-color: var(--primaryBlue);
    --bs-table-hover-color: var(--primaryBlue);
    border-color: var(--custom-white-darkest);
    vertical-align: middle;
}

th {
    --bs-table-bg: var(--custom-white-darkest);
    text-align: center;
}

.card {
    --bs-card-border-color: var(--lightWhiteBlue-darkest);
    --bs-card-color: var(--primaryBlue);
    --bs-card-bg: var(--lightWhiteBlue);
    color: var(--bs-body-color);
    background-color: var(--bs-card-bg);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

a {
    color: var(--lightWhiteBlue);
}

.css-t3ipsp-control:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}