<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        /* Add your email styling here */
    </style>
</head>
<body>
    <h1>Resource Table Data:</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Date Created</th>
                <!-- <th>date_updated</th> -->
                <th>Assigned By</th>
                <th>Resource</th>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data rows will be injected here -->
        </tbody>
    </table>
</body>
</html>